body{
    color: black;
    background-color: silver;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
   }
   ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
   }
   a{
    color: black;
   }
   
   .barranav{
    padding: 0px 50px;
   }
   
  